.wrapper {
  display: flex;
  background-color: #dddddd40;
}

.wrapper2 {
  display: flex;
  justify-content: center;
}

.wrapper-show {
  margin: auto;
  text-align: center;
  width: 70%;
  padding: 0 20px 20px 20px;
}

.map-show {
  height: 500px;
}

.map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

.delivery-container {
  display: flex;
  align-items: top;
  justify-content: space-around;
  margin-top: -70px;
  width: 70%;
  height: 40vh;
  padding: 20px;
}

.wrapper-new-delivery-form {
  height: 85vh;
}
