<div class="footer hidden-xs hidden-sm">
  <div class="footer-social">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-links">
    <a href="#">About us</a>
    <a href="#">Contact</a>
    <a href="#">Help</a>
    <a href="#">Careers</a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> @onmywaydesign
  </div>
</div>

<div class="footer hidden-md hidden-lg">
  <div class="footer-social">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
